[Desktop Entry]
Name=Shaman

GenericName=Package Manager
GenericName[it]=Gestore di Pacchetti

Exec=kdesu shaman
Icon=shaman-32
Type=Application
Terminal=false
Comment=A Package Manager for ArchLinux
Comment[it]=Un gestore di Pacchetti per ArchLinux
Categories=Qt;System;
