[Desktop Entry]
Name=Shaman

GenericName=Package Manager
GenericName[it]=Gestore di Pacchetti
GenericName[de]=Paketverwaltung
GenericName[es]=Administrador de Paquetes
GenericName[fr]=Gestionnaire de paquets

Comment=A Graphical Package Manager for ArchLinux
Comment[it]=Un gestore di Pacchetti grafico per ArchLinux
Comment[de]=Eine grafische Paketverwaltung für Arch Linux
Comment[es]=Un administrador gráfico de paquetes para Arch Linux
Comment[fr]=Un gestionnaire graphique de paquets pour Arch Linux

MimeType=application/x-shaman-package;
Exec=shaman
Icon=shaman
Type=Application
Terminal=false
X-DBUS-StartupType=Single
X-DBUS-ServiceName=org.archlinux.shaman
Categories=Qt;System;
