[Desktop Entry]
Exec=kcmshell4 kcmshamangeneral
Icon=shaman
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_shamangeneral
X-KDE-ParentApp=kcontrol

Name=Shaman configuration
Name[pl=Konfiguracja Shamana

Comment=Configure Shaman settings
Comment[pl]=Skonfiguruj ustawienia Shamana

X-KDE-Keywords=shaman,package,install,upgrade,system,aqpm,pacman

Categories=Qt;KDE;X-KDE-settings-system;
