[Desktop Entry]
Name=Shaman
GenericName=Package Manager
Exec=shaman
Icon=shaman-32
Type=Application
Terminal=false
Comment=A Package Manager for ArchLinux
Categories=Qt;System
